@font-face {font-family: "Circular-regular"; src: url('./assets/fonts/CircularStd-Book.otf')}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: Circular-regular;
}

body {
  background-color: #050213;
  display: flex;
  justify-content: center;
}


/* --------------------------  */
/* ASIDE */
aside {
  width: 242px;
  height: calc(100vh - 40px);
  background-color: #13141B;
  border-radius: 20px 0 0 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #C3C3C3
}
/* logo */
.logo {
  display: flex; 
  justify-content: center;
  margin: 30px 0 50px 0;
}
.logo span {
  padding-left: 12px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 1px;
}
/* menu */
nav ul {
  list-style: none;
}
nav li {
  padding: 20px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}
nav li span {
  margin-left: 16px;
  font-size: 18px;
  font-weight: 400;
}
nav ul .active {
  background: linear-gradient(274.17deg, #6958CC 2.7%, rgba(190, 94, 253, 0.53) 116.24%);
  border-radius: 12px;
}
/* lower div */
.menu-add {
  height: 350px;
  background-color: #F2E3FD;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.top-text, .bottom-text {
  color: black;
  text-align: center;
}
.menu-add .top-text {
  font-size: 20px;
  font-weight: 500;
}
.menu-add .bottom-text {
  font-size: 14px;
  font-weight: 400;
}
.menu-add button {
  background-color: rgba(191, 94, 253, 1);
  padding: 16px;
  border-radius: 12px;
  color: white
}




main {
  width: 1158px;
  height: calc(100vh - 60px);
  background: #181A25; /* CHECK THE RIGHT COLOR*/
  padding: 30px;
  letter-spacing: 1px;
}
main > header {
  display: flex;
  justify-content: space-between;
  margin: 15px 0 30px 0;
}
.content-title {
  font-size: 32px;
  font-weight: 700;
  color: #ffffff;
}
.content-description {
  font-size: 20px;
  font-weight: 300;  
  color: #c3c3c3;
  margin-top: 12px;
}


.header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-right button {
  padding: 12px 20px;
  background-color: rgba(54, 44, 109, 1);
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  border-radius: 12px;
  margin-right: 30px;
}
.header-right button span {
  margin-left: 13px;
}


main section {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

section .your-results {
  background-color: rgba(19, 20, 27, 1);
  border-radius: 20px;
  text-align: center;
}

.arc-graph {
  margin-top: 50px;
}
.arc {
  fill: transparent;
  stroke-width: 14;
  stroke-linecap: round;
}
.arc-one {
  stroke: #30D476;
  stroke-dasharray: 64 702;
  stroke-dashoffset: 383;
}
.arc-two {
  stroke: #FFBD19;
  stroke-dasharray: 134 632;
  stroke-dashoffset: 300;
}
.arc-three {
  stroke: #ED6B4D;
  stroke-dasharray: 95 671;
  stroke-dashoffset: 148;
}
.arc-four {
  stroke: #CD2D2E;
  stroke-dasharray: 36 730;
  stroke-dashoffset: 35;
}

.results-content {
  position: relative;
  top: -200px;
}

.results-content .graph-title {
  font-size: 14px;
  font-weight: 450;
  line-height: 17px;
  color:rgba(195, 195, 195, 1);
  margin-bottom: 2px;  
}

.results-content .graph-score {
  font-size: 72px;
  font-weight: 700;
  line-height: 89px;
  color: white;
  margin-bottom: 8px;  
}
.results-content .graph-indicator {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: white;
  background-color: rgba(237, 107, 77, 1);
  border-radius: 100px;
  padding: 8px 20px;
  width: fit-content;
  margin: auto;  
  margin-bottom: 16px;
}
.results-content .graph-legend {
  max-width: 286px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color:rgba(195, 195, 195, 1);
  margin: auto;

}
.separator {
  height: 1px;
  background-color: rgba(44, 47, 65, 1);
  margin: 30px 0;
}

.results-content article {
  margin: 24px;
}

.results-content article header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.results-content article header .criterion {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.results-content article header span {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: white;
  margin-left: 15px;
}
.results-content article header .results {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: white;
}

.horizontal-gauge .grey-gauge {
  height: 10px;
  background-color: #434655;
  border-radius: 5px;
  margin: 12px 0 2px 0;
}

.horizontal-gauge .second-gauge {
  height: 10px;
  border-radius: 5px;
  position: relative;
  top: -12px;
}
.gauge-1 {
  background-color: #5661D2;
  width: 62%;
}
.gauge-2 {
  background-color: #BE5EFD;
  width: 37%;
}
.gauge-3 {
  background-color: #F35E4A;
  width: 45%;
}


.results-content article .results-legend {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: white;
  text-align: start;
}